<html>

	<head>	
		
	</head>

		<body>

		
			<h2>Hi you're logged in </h2>
		
			<form name="logout" method ="post" action="/session/logout">
				
				<input type="submit" name="_method" value="delete">		

			</form>

			<form name="my_profile" method ="post" action="/users/:id">
				
				<input type="submit" name="profile" value="My Profile">		

			</form>

			<form method ="get" action="/questions/ask">
				
				<input type="submit" name="ask_button" value="Ask a Question">		

			</form>

		</body>

</html>